* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #F44336;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p{
  text-align: center;
  color: black;
}


h1 {
  text-align: center;
  width: 60%;
  padding: 0px 10px 0px 100px;
}
h3{

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0px 0px 30px 0px;
  }

.hold {
  height: 80px;
}

.header {
  line-height: 80px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
}

.header.small {
  line-height: 50px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.header.small > .container1 > #logo {
  height: 40px;
}

#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: 170px;
  margin-left: 5px;
}

ul.nav {
  float: none;
  display: block;
  text-align: center;
  margin: 0 auto;
}

ul.nav li {
  float: initial;
  display: inline-block;
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a {
  color: #99ff99;
}

ul.nav li:hover a {
  color: #99ff99;
}

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}

body {
  background-color: grey;
  color: black;
  text-align: center;
}

button {
  transition-duration: 0.4s;
  width: 160px;
  height: 36px;
  background-color: grey;
  border: none;
  color: black;
  font-size: 0.95rem;
  display: block;
  margin: 12px auto;
}

button:hover {
  width: 200px;
  cursor: pointer;
}

button:active,
button:hover {
  transition-duration: 0.3s;
  outline: none;
  background-color: #99ff99;
}

button:focus {
  outline: none;
}

.page {
  display: none;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
}

#page-1 {
  display: block;
}

.used {
  position: fixed;
  top: 20px;
  left: 20px;
  max-width: 20%;
}

.tries {
  position: fixed;
  top: 20px;
  right: 20px;
}

.card {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 3px;
}

.input {
  display: block;
  margin: 20px auto;
  width: 240px;
  font-size: 1.5rem;
  outline: none;
  border: none;
  color: #333333;
}

#page-3 h2 span {
  font-size: 3.2rem;
}

@media all and (min-width: 1000px) {
  .used {
    display: none;
  }

  h1 {
    width: 100%;
    text-align: center;
    padding: 10px 10px 10px 10px;
  }

  ul.nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.nav li {
    float: left;
    position: relative;
    display: inline-block;
  }
}
/*animations*/

.show {
  -webkit-animation: show 1.5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation: show 1.5s;
  -moz-animation-iteration-count: 1;
  -ms-animation: show 1.5s;
  -ms-animation-iteration-count: 1;
  -o-animation: show 1.5s;
  -o-animation-iteration-count: 1;
  animation: show 1.5s;
  animation-iteration-count: 1;
}

.hide {
  -webkit-animation: hide 1.5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation: hide 1.5s;
  -moz-animation-iteration-count: 1;
  -ms-animation: hide 1.5s;
  -ms-animation-iteration-count: 1;
  -o-animation: hide 1.5s;
  -o-animation-iteration-count: 1;
  animation: hide 1.5s;
  animation-iteration-count: 1;
}

.alert {
  -webkit-animation: alert 1000ms infinite;
  -moz-animation: alert 1000ms infinite;
  -ms-animation: alert 1000ms infinite;
  -o-animation: alert 1000ms infinite;
  animation: alert 1000ms infinite;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  to {
    opacity: 0;
  }
}

@-moz-keyframes hide {
  to {
    opacity: 0;
  }
}

@-ms-keyframes hide {
  to {
    opacity: 0;
  }
}

@-o-keyframes hide {
  to {
    opacity: 0;
  }
}

@keyframes hide {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes alert {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes alert {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes alert {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes alert {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes alert {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
/* Start Contact form */

.title{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 32px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.wrapper {
  width: 50%;
  height: 50%;
  margin: 5% auto 0 auto; 
}
.font {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: white;
}
.form {
  text-align: center; 
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}
.shadow{
  box-shadow: 0px 0px 20px 5px #AAA;
  opacity: 0.5;
  border-radius: 100px;
  width: 45%; 
  margin: 40px auto 0 auto;
  padding: 0 10px;  
  -webkit-animation: shadow 1.5s infinite;
}
.field-in {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.name {
  background-color: grey;  
  border-bottom: 5px solid grey;
}
.name:hover{
  background-color: #b3ff66;
  border-bottom: 5px solid #b3ff66;
}
.name:focus, .email:focus, .message:focus{
  outline: none;
  padding:15px;
}
.email {
  background-color: grey;  
  border-bottom: 5px solid grey;
}
.email:hover{
  background-color: blue;
  border-bottom: 5px solid blue;
}
.message {   
  background-color: grey;
  border-bottom: 5px solid grey;
  overflow: hidden;
  height: 50px;
}
.message:hover{
  background-color: orange;
  border-bottom: 5px solid orange;
  height: 150px;
}
.submit{
  border-radius:5px;
  padding:10px;
  background-color: grey;  
  border: none;
  border-bottom: 5px solid grey;  
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.submit:hover{
  -webkit-transform: translate(0, 4px);
  border-bottom: 2px solid green;  
  cursor: pointer;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { 
   color: white;
}

::-moz-placeholder { 
   color: white; 
}

:-ms-input-placeholder {  
   color: white;  
}

@-webkit-keyframes bounce{
  0%{
    
  }
  50%{
    -webkit-transform: translate(0, 8px);
  }
}
@-moz-keyframes bounce{
  0%{
    
  }
  50%{
    -moz-transform: translate(0, 8px);
  }
}
@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 8px);
  }
}
@-webkit-keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
@-moz-keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
@keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
/* end Contact form */

 #map {
        height: 400px;
        width: 100%;
       }