html,
body {

}

p{
  text-align: center;
}

.section {
  width: 100%;
}

.container1 {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  overflow: hidden;
}

.section .container1 {
  padding: 30px 0 50px 0;
}

.section.bg {
  background: white;
}
/*Header*/

.hold {
  height: 80px;
}

.header {
  line-height: 80px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
}

.header.small {
  line-height: 50px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.header.small > .container1 > #logo {
  height: 40px;
}

#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: 170px;
  margin-left: 5px;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  position: relative;
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a {
  color: #99ff99;
}

ul.nav li:hover a {
  color: #99ff99;
}

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}
/*Slider*/

.section .slider,
.section .footer {
  background-color: grey;
}

.slidercontent {
  text-align: center;
}

.hero {
  font-family: 'Roboto Slab', sans-serif;
  color: black;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 1em;
}

h1 {
  text-align: center;
  color: black;
}

h1.hero {
  font-size: 54px;
}

h2.hero {
  font-size: 30px;
  margin-bottom: 60px;
}

h1.hero:after {
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  font-family: 'Roboto Slab', sans-serif;
}

p {
  font-family: 'Roboto Slab', sans-serif;
  color: black;
  font-weight: bold;
}

.call {
  color: black;
  display: block;
  margin-bottom: 20px;
}

.call span {
  display: inline;
  border: 1px solid white;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
  border-color: black;
}

.call span:hover {
  background: #99ff99;
  cursor: pointer;
}
/* Columns */

.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.col.four {
  width: 23%;
  margin: 0 1%;
}

.col.three {
  width: 31.3%;
  margin: 0 1%;
}

.col.two {
  width: 40%;
  margin: 0 2.5%;
  padding: 0 2.5%;
}

.col.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col .service,
.col .feature {
  font-size: 21px;
  font-weight: 300;
  font-family: 'Roboto Slab', sans-serif;
}

.col .service:after {
  content: "";
  width: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.col .feature {
  font-size: 19px;
}

.col h1.side,
.col p.side,
.col span.side:first-of-type {
  margin-left: 50px;
  text-align: left;
}

.col .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}

.col .icon.side {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15px;
  height: 50px;
  width: 50px;
}

.col.a:hover > .icon {
  background: #b3ff66;
  color: white;
}

.col.e:hover > .icon {
  background: blue;
  color: white;
}

.col.i:hover > .icon {
  background: red;
  color: white;
}

.col.o:hover > .icon {
  background: orange;
  color: white;
}

.col:hover > .icon.side {
  background: initial;
  color: initial;
}

.responsivegroup {
  display: none;
}

/*Column specs */

.col p,
.col h1 {
  padding: 0 1%;
  text-align: center;
}

.group.margin {
  margin-bottom: 20px;
}

.col .imgholder {
  height: 300px;
  width: 33%;
  background: white;
  transition: background 0.3s linear;
}

.col.bg {
  background: #FFF;
}

.col.pointer {
  cursor: pointer;
}

.col.bg:hover .imgholder {
  background: #99ff99;
}

.col span.feature {
  font-size: 20px;
}
/* Text */

.container1 > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
}

.container1 > h1:after {
  content: "";
  width: 30px;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.left,
.left > h1,
.left > p {
  text-align: left;
}

.reset {
  text-align: left !important;
}

.reset:after {
  display: none !important;
}

img {
  width: 100%;
  height: 86%;
}

.col .imgholder {
  width: 99%;
  margin: 1%;
  display: block;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.container1 {
  width: 95%;
}

.col.four {
  width: 48%;
  margin: 1%;
}

.col.three {
  display: block;
  width: 95%;
  padding: 0;
  margin: 0 auto;
  float: none;
}

.header {
  height: auto;
  background: #eee;
}

#logo {
  position: initial;
  float: none;
  display: block;
  transform: none;
  margin: 10px auto 0 auto;
}

ul.nav {
  float: none;
  display: block;
  text-align: center;
  margin: 0 auto;
}

ul.nav li {
  float: initial;
  display: inline-block;
}

.responsivegroup {
  display: block;
}

.responsivegroup:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive */
@media all and (min-width: 700px) {

  .container1 {
    width: 95%;
  }

  .col .imgholder {
    width: 98%;
    margin: 1%;
    display: block;
  }

  .col.four.a {
    width: 23%;
    margin: 1%;
    display: block;
  }

  .col.four.e {
    width: 23%;
    margin: 1%;
    display: block;
  }

  .col.four.i {
    width: 23%;
    margin: 1%;
    display: block;
  }

  .col.four.o {
    width: 23%;
    margin: 1%;
    display: block;
  }

  .col.three {
    display: inline-block;
    width: 33%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .header {
    height: auto;
    background: #eee;
  }

  #logo {
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 10px auto 0 auto;
  }

  ul.nav {
    float: none;
    display: block;
    text-align: right;
    margin: 0 auto;
  }

  ul.nav li {
    float: initial;
    display: inline-block;
  }

  .responsivegroup {
    display: inline-block;
  }

  .responsivegroup:after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  width: 100%;
  height: 90%;
}

/* Responsive */
@media all and (min-width: 1000px) {
  .container1 {
    width: 95%;
  }

  .col .imgholder {
    width: 98%;
    margin: 1%;
    display: block;
  }

  .col.four.a {
    width: 23%;
    margin: 1%;
    display: block;
  }

  .col.four.e {
    width: 23%;
    margin: 1%;
    display: block;
  }

  .col.four.i {
    width: 23%;
    margin: 1%;
    display: block;
  }

  .col.four.o {
    width: 23%;
    margin: 1%;
    display: block;
  }

  .col.three {
    display: inline-block;
    width: 33%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .header {
    height: auto;
    background: #eee;
  }

  #logo {
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 10px auto 0 auto;
  }

  ul.nav {
    float: none;
    display: block;
    text-align: right;
    margin: 0 auto;
  }

  ul.nav li {
    float: initial;
    display: inline-block;
  }

  .responsivegroup {
    display: inline-block;
  }

  .responsivegroup:after {
    content: "";
    display: table;
    clear: both;
  }
}



/* Container styles */
body {
  background-color: #fff;
  color: #333;
  font-family: 'Lato';
}

.container {
  padding: 50px 0;
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}

.chart figcaption {
  padding: 50px 25px;
  width: 100px;
  height: 50px;
  border: 20px solid #f0f0f0;
  border-radius: 100px;
  line-height: 50px;
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: white;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
  top: 50px;
  left: 45px;
}

.html + svg .outer {
  stroke: red;
}

.css {
  top: 55px;
  left: 48px;
}

.css + svg .outer {
  stroke: #0d84ce;
}

.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: #f0e040;
}

.node {
  width: 200px;
  height: 200px;
  top: 45px;
  left: 45px;
}

.node + svg .outer {
  stroke: #83cd29;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}
/* END Keyframes for the initial animation */


a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h4 {
    margin:  1% 0 1% 0;
    font-family: 'Roboto Slab', sans-serif;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}

/*footer*/
.footer-social-icons {
    width: 350px;
    display:block;
padding-left: 100px;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

@media all and (min-width: 500px) {
  .footer-social-icons {
  align-items: center;
   
}
}

@media all and (min-width: 1000px) {
  .footer-social-icons {
   padding: 0px 0px 0px 590px;
   
}
}







