* {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
background: white;
color: #67727A;
font-family: sans-serif;
margin: 0; 
padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

nav {
  width: 100%;
  background: black;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

ul li:hover
{
  background: grey;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

